@if (Request.IsAuthenticated) {
    <p>
        Hello, @Html.ActionLink(User.Identity.Name, "ChangePassword", routeValues: new { Area = "", Controller = "Account" }, htmlAttributes: new { @class = "username", title = "Change password" })!
        @Html.ActionLink("Log off", "LogOff", new { Area = "", Controller = "Account" })
    </p>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", routeValues: new { Area = "", Controller = "Account" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", routeValues: new { Area = "", Controller = "Account" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}